doctype html
head
	title=title
	link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
	link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet" href="./css/animate.css")
	// specific page styles
	style(type="text/css").
		.text-center {
				text-align: center;
		}
	block styles
body
	// content starts here
	block content
	// layout scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/p5.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/addons/p5.dom.min.js")
	script(src="//cdn.socket.io/socket.io-1.4.5.js")
	// widget scripts
	include ../includes/twitterJs.pug
	// specific scripts
	block scripts